---
# tasks file for python-code
#
- name: 安装软件包
  apt:
      name: "{{item}}"
      state: present
  with_items:
      - "{{packages}}"

- name: 安装oh-my-zsh
  shell:
      sh -c "$(curl -fsSL https://raw.github.com/robbyrussell/oh-my-zsh/master/tools/install.sh)"

- name: 克隆pyenv
  git:
      repo: https://github.com/pyenv/pyenv.git
      dest: ~/.pyenv

- name: 安装pyenv
  shell:
      echo 'export PYENV_ROOT="$HOME/.pyenv"' >> ~/.zshenv
      echo 'export PATH="$PYENV_ROOT/bin:$PATH"' >> ~/.zshenv
      echo 'eval "$(pyenv init -)"' >> ~/.zshenv
      exec "$SHELL"

- name: 克隆pyenv-virtualenv
  git:
      repo: https://github.com/pyenv/pyenv-virtualenv.git
      dest: $(pyenv root)/plugins/pyenv-virtualenv

- name: 安装pyenv-virtualenv
  shell:
      echo 'eval "$(pyenv virtualenv-init -)"' >> ~/.zshenv

- name: 克隆tmux配置到家目录
  git:
      repo: https://github.com/gpakosz/.tmux.git
      dest: ~

- name: 安装tmux配置
  shell:
      ln -s -f ~/.tmux/.tmux.conf && cp ~/.tmux/.tmux.conf.local .

- name: 创建cache目录
  file:
      path: "{{cache_dir}}"
      state: directory

- name: 复制python2到缓存目录
  shell:
      "cp {{python2_file}} {{cache_dir}}"

- name: 复制python3到缓存目录
  shell:
      "cp {{python3_file}} {{cache_dir}}"

- name: 安装python2
  shell:
      "{{python2_install}}"
- name: 安装python3
  shell:
      "{{python3_install}}"
